/* ------ */
/* GLOBAL */
/* ------ */
:root {
    --light: #dfe5e8;
    --lesslight: #b4bcbe;
    --accent: #7fc1db;
    --lightpurple: #9781d1;
    --medium: #3e315f;
    --dark: #233361;
    --darker: #2b2330;
    --darkest: #141213;
    --darkestblue: #101119;
    --red: #9c2131;
    --redhover: #851423;
    --radius: 15px;
}
body {
    background-color: var(--darkestblue);
    color: var(--light);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
a {
    color: var(--accent);
    text-decoration: none;
    margin-bottom: 25px;
}
h2 {
    margin: 25px 0 20px 0;
}
label {
    font-size: 1.1em;
    font-weight: 600;
    margin-right: 5px;
}
input {
    margin: 5px;
}
button, input[type="submit"] {
    cursor: pointer;
    padding: 5px;
}
select {
    cursor: pointer;
}

/* ----------- */
/* FORM/HEADER -------------------------------------------------------------- */
/* ----------- */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(var(--darkest), var(--darker));
    padding: 25px 50px 15px 50px;
}
#add-title, #add-url {
    width: 43ch;
    height: 1.4em;
    border-radius: 5px;
    border: none;
    padding: 2px 5px;
    outline: 2px solid transparent;
    transition: outline-color 0.5s ease, color 0.5s ease;
}
#add-title:focus, #add-url:focus {
    outline: 1px solid var(--accent);
    border: none;
}
#add-title.input-error, #add-title.input-error:focus {
    outline: 2px solid var(--red);
    color: var(--red);
    transition: none;
}
#add-title.input-error-fade, #add-title.input-error-fade:focus {
    outline: 2px solid transparent;
    color: transparent;
}

/* -------------------- */
/* SORTING & FILTER BAR -------------------------------------------------------------- */
/* -------------------- */
div#all-selections {
    display: flex;
    justify-content: space-between;
    background-color: var(--darker);
    padding: 10px 15px;
    border-radius: var(--radius);
}
select, option {
    text-align: center;
}
select#sorting-options {
    margin-left: 20px;
}
.sort-btn {
    border-radius: var(--radius);
    margin: 0 5px;
    padding: 6px 12px;
    border: none;
}
.active-sort {
    background: var(--lightpurple);
}
span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropdown-container {
    position: relative;
    width: 135px;
}
.dropdown-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-btn {
    width: 100%;
    padding: 4px 14px;
    background-color: var(--light);
    border: none;
    border-radius: 12px;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.arrow {
    display: inline-block;
    padding: 3px;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}
.dropdown-container:hover .arrow {
    transform: rotate(180deg);
}

.dropdown-items {   /* controls entire menu */
    position: absolute;
    top: 105%;
    left: 0;
    width: 100%;
    background-color: var(--light);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    z-index: 10;
    overflow: hidden;
}
.dropdown-container:hover .dropdown-items {     /* shows menu on container hoverv*/
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-items li button {     /* controls individual menu items */
    width: 100%;
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    text-align: left;
    background-color: var(--light);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.dropdown-items li button:hover {
    background-color: var(--accent);
    color: var(--dark);
}




/*
#filter-label {
    margin: 0 20px;
}
.filter-checkbox {
    margin: 0 15px 0 20px;
    accent-color: var(--accent);
    cursor: pointer;
    translate: 50% ;
    scale: 1.4;
}
*/

/* ----------------- */
/* CARDS + CONTAINER -------------------------------------------------------------- */
/* ----------------- */
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--darkest);
    border: 2px solid var(--dark);
    border-radius: var(--radius);
    margin: 50px;
    padding: 20px;
}
#movie-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 50px 20px;
}
.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--dark);
    border-radius: var(--radius);
    padding: 15px;
    max-width: 300px;
    min-width: 205px;
}
.watched-style {
    background: linear-gradient(var(--darker), var(--darkest));
    border: 2px solid var(--medium);
}
.watched-style a, .watched-style h2, .watched-style label {
    color: var(--lightpurple);
    border: none;
    background: none;
}
.movie-title {
    text-align: center;
    text-wrap: wrap;
    overflow-wrap: break-word;
    letter-spacing: 1px;
    max-width: 100%;
    padding: 10px;
}
.card-manipulation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.checkbox-label, .card-checkbox {
    cursor: pointer;
    user-select: none;
    font-size: 1em;
    accent-color: var(--lightpurple);
}
.movie-comment-field {
    margin: 25px 0 0 0;
    padding: 10px;
    border-radius: 5px;
    max-width: 100%;
    background-color: var(--darker);
    text-wrap: wrap;
    overflow-wrap: break-word;
}

/* ------- */
/* BUTTONS -------------------------------------------------------------- */
/* ------- */
#submit-btn {
    visibility: visible;
    background-color: var(--accent);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    filter: none;
    transition: filter 0.12s;
}
#submit-btn:hover {
    filter: drop-shadow(0 0 5px rgba(127, 193, 219, 0.4));
}
#submit-btn:active {
    filter: drop-shadow(0 0 5px rgba(127, 193, 219, 0.4));
}
#reset-btn, .movie-delete-btn, #confirm-btn {
    background-color: var(--red);
    border: var(--red) 2px solid;
    border-radius: 5px;
    color: var(--light);
    transition: background-color 0.2s ease, border 0.2s ease;
}
#reset-btn:hover, .movie-delete-btn:hover, #confirm-btn:hover {
    background-color: var(--redhover);
    border: var(--redhover) 2px solid;
}
#cancel-btn {
    background-color: var(--light);
    border: var(--light) 2px solid;
    border-radius: 5px;
    transition: background-color 0.2s ease, border 0.2s ease;
}
#cancel-btn:hover {
    background-color: var(--lesslight);
    border: var(--lesslight) 2px solid;
    border-radius: 5px;
}
.movie-comment-save-btn {
    margin: 15px 0 15px 0;
    padding: 5px 10px;
    max-width: 70%;
    visibility: hidden;
    background-color: var(--medium);
    border: none;
    border-radius: 5px;
    color: var(--light);
}
.movie-delete-btn {
    margin: 20px 0 10px 0;
    max-width: 70%;
    pointer-events: none;
    opacity: 0;
    transition: 0.2s opacity ease, 0.2s pointer-events ease;
}
/* ------------ */
/* DIALOG MODAL -------------------------------------------------------------- */
/* ------------ */
#confirm-dialog {
    border-radius: 5px;
    background-color: var(--darkest);
    border: 5px solid var(--red);
    color: var(--light);
    padding: 0;
}
#confirm-dialog::backdrop {
    background-color: rgba(6, 6, 11, 0.8);
}
#confirm-dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.3em;
    letter-spacing: 0.5px;
    padding: 40px 40px 60px 40px;
}
#dialog-btns {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    margin-top: 50px;
}
#confirm-btn, #cancel-btn {
    padding: 5px 10px;
    outline: none;
}
em {
    font-weight: 500;
    font-size: 0.9em;
}
strong {
    letter-spacing: 1px;
}